<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>迎新分班系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="http://csjava.cn:10000/campus_view/libs//layui/css/layui.css">
    <script src="http://csjava.cn:10000/campus_view/libs//layui/layui.js"></script>
    <script src="../js/route.js"></script>
    <script src="../libs/jquery.js"></script>
    <script src="../js/question_template.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>


<!-- 内容主体区域 -->
<div style="padding: 15px;">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 0px;">
        <legend>问卷模版配置</legend>
    </fieldset>

    <div class="demoTable">
        搜索条件
        ID：
        <div class="layui-inline">
            <input class="layui-input" name="id" id="id" autocomplete="off">
        </div>
        <!--状态：-->
        <!--<div class="layui-inline">-->
            <!--<input class="layui-input" id="type" autocomplete="off">-->
        <!--</div>-->
        模版名称：
        <div class="layui-inline">
            <input class="layui-input" id="des" autocomplete="off">
        </div>
        <!--开始时间：-->
        <!--<div class="layui-inline">-->
        <!--<input class="layui-input" id="start" type="date" autocomplete="off">-->
        <!--</div>-->
        <button class="layui-btn" data-type="reload" onclick="queryTemp()">搜索</button>

        <a href="question_template_insert.html" class="layui-btn layui-btn-normal"
           data-type="reload">新增</a>

    </div>
    <!--<button class="layui-btn" data-type="getCheckData">批量删除</button>-->

    <table class="layui-hide" id="content" lay-filter="content"></table>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="build">生成链接</a>
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <!--<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>-->
        <a class="layui-btn layui-btn-xs" lay-event="editQuestion">编辑问卷</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
</div>
<script type="text/html" id="titleTpl">
    {{#  if(d.status === 0){ }}
    <span style="color: #2E2D3C;">{{ "未开始"}}</span>
    {{#  } else {}}
    {{#  } }}
    {{#  if(d.status === 1){ }}
    <span style="color: #1E9FFF;">{{ "已开始"}}</span>
    {{#  } else {}}
    {{#  } }}
    {{#  if(d.status === 2){ }}
    <span style="color: #F581B1;">{{ "审核通过"}}</span>
    {{#  } else {}}
    {{#  } }}
    {{#  if(d.status === 3){ }}
    <span style="color: #F581B1;">{{ "审核驳回"}}</span>
    {{#  } else {}}
    {{#  } }}
</script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
    });
    layui.use('table', find("", "", ""));


</script>
</body>
</html>