<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>迎新分班系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="http://csjava.cn:10000/campus_view/libs//layui/css/layui.css">
    <script src="http://csjava.cn:10000/campus_view/libs//layui/layui.js"></script>
    <script src="http://csjava.cn:10000/campus_view/libs//layui/lay/modules/jquery.js"></script>
    <script src="../js/route.js"></script>
    <script src="../js/question.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div id="#head">
        <iframe src="./base_head.html" width="100%" frameborder="no" border="0" marginwidth="0" marginheight="0"
                scrolling="no"></iframe>

    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree " lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">招生管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="./school.html" class="layui-this">学年信息</a></dd>
                        <dd><a href="./school_venue.html">场次信息</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item ">
                    <a href="javascript:;">报名管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">信息一览</a></dd>
                        <dd><a href="./question_type.html" >问卷类型配置</a></dd>
                        <dd><a href="./question_template.html">问卷模版配置</a></dd>
                        <!--<dd><a href="javascript:;">答卷查看</a></dd>-->
                        <!--<dd><a href="javascript:;">问卷答案配置</a></dd>-->
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <button class="layui-btn layui-btn-normal" style="margin: 5px" parent="0" id="add" onClick="add()"><i class="layui-icon">&#xe654;</i>添加</button>
        <table class="layui-hide" id="test" lay-filter="testDemo"></table>
        <script type="text/html" id="barDemo">
            {{#  if(d.enable === 2){ }}
            <a class="layui-btn layui-bg-blue layui-btn-xs" lay-event="start" id="start">启用</a>
            <a class="layui-btn layui-bg-blue layui-btn-xs" lay-event="delete">删除</a>
            {{#  } else { }}
            <a class="layui-btn layui-bg-blue layui-btn-xs" lay-event="edit" id="edit">禁用</a>
            {{#  } }}
        </script>
        <!-- 时间格式化 -->
        <script type="text/html" id="isDateTpl">
            {{ JY.Date.Default(d.formatYear)}}·
        </script>

        <script type="text/html" id="titleTpl">
            {{#  if(d.enable === 1){ }}
            <span style="color: #F581B1;">{{ "启用"}}</span>
            {{#  } else { }}
            {{ "禁用"}}
            {{#  } }}
        </script>
        <script>
            layui.use('table', function(){
                var table = layui.table;
                table.render({
                    elem: '#test'
                    ,url:school_year
                    ,cols: [[
                        {field:'id',  title: 'ID', sort: true}
                        ,{field:'formatYear', title: '用户名'}
                        ,{field:'formatYear', title: '手机号码'}
                        ,{field:'enable',  title: '状态', toolbar:'#titleTpl'}
                        ,{field:'formatYear', title: '角色'}
                        ,{field:'formatYear', title: '登入次数'}
                        ,{field: '',  align:'center', title: '操作' , toolbar: '#barDemo'}
                    ]]
                    ,page: true
                });

                var table = layui.table;
                //监听工具条
                table.on('tool(testDemo)', function (obj) {
                    var data = obj.data;
                    if (obj.event === 'edit') {
                        layui.$.ajax({
                            url: school_year+"/update?id="+data.id+"&status=2",
                            type: "POST",
                            success: function(data){
                                var results = data.data;
                                if(null != results){
                                    layui.area("成功")
                                }
                                location.reload(true);
                            }
                        });
                    } else if (obj.event === 'delete') {
                        layer.confirm('真的删除行么', function (index) {
                            layui.$.ajax({
                                url: school_year+"/delete?id="+data.id,
                                type: "POST",
                                success: function(data){
                                    var results = data.data;
                                    if(results > 0){

                                    }
                                    location.reload(true);
                                }
                            });
                            layer.close(index);
                        });
                    } else if (obj.event === 'start') {
                        layui.$.ajax({
                            url: school_year+"/update?id="+data.id+"&status=1",
                            type: "POST",
                            success: function(data){
                                var results = data.data;
                                if(null != results){
                                    layui.area("成功")
                                }
                                location.reload(true);
                            }
                        });
                    }
                });

            });

            function add(){
                var form = layui.form;
                layer.open({
                    type: 1 //此处以iframe举例
                    ,id:'as'
                    ,title: '学年添加'
                    ,shade: 0.3
                    ,maxmin: true
                    ,area : [ '370px', '180px' ]
                    ,offset: 'auto'
                    ,content:
                    '<form class="layui-form layui-form-pane" id="addForm">'
                    +' <div class="layui-form-item">'
                    +'   <label class="layui-form-label">学年选择</label>'
                    +' <div class="layui-input-inline">'
                    +' <select name="startYear" id="startYear">'
                    +'<option value="">请选择</option>'
                    +'<option value="2016" >2016</option>'
                    +'<option value="2017" >2017</option>'
                    +'<option value="2018" selected="">2018</option>'
                    +'<option value="2019" >2019</option>'
                    +'<option value="2020" >2020</option>'
                    +'<option value="2021" >2021</option>'
                    +'<option value="2022" >2022</option>'
                    +' </select>'
                    +'</div>'
                    +' </div>'
                    +'</form>'
                    ,btn: ['确定','取消']
                    ,yes: function(){
                        var startYear = layui.$("#startYear").val();
                        layui.$.ajax({
                            url: school_year,
                            type: "POST",
                            dataType: "json",
                            data:{"startYear":startYear},
                            success: function(data){
                                var results = data.data;
                                if(null != results){
                                    layui.area("成功")
                                }
                                location.reload(true);
                            }
                        });
                    }
                    ,btn2: function(){
                        layer.closeAll();
                    }
                });
                form.render();
            }
        </script>
    </div>

</div>
<script src="../src/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
    });
    layui.use('table', find("", "", ""));


</script>
</body>
</html>